body{
    font-size:16px;
    align:center;
    /*width:80%;*/
}
.outline{
    text-align:left;
    width:80%;
}
.userinput{
    font-family: monospace;
    font-size:12px;
    font-weight: bold;
    color: rgb(17, 113, 126);
}
.change{
    font-weight:bold;
    color:limegreen;
}

.label{
    /*font-family:Arial, Helvetica, sans-serif;*/
    font-weight: bold;
}

#in{
    border-bottom:3px solid grey;
    padding-bottom:5px;
    width:400px;
}
#in:focus{
    outline:none;
    border-bottom:3px solid lightblue;
}
#correctAnswer{
    font-size:12px;
    font-family: monospace;
}
