
  @keyframes draw{
    to {
        stroke-dashoffset: 0;
    }
}


/*animation for the arysia logo*/

.largeCircle {
    stroke-dasharray: 314.2034912109375;
    stroke-dashoffset: 314.2034912109375;
    animation: draw 2.2s linear forwards;
  }
  .smCirLeft {
    stroke-dasharray: 188.52210998535156;
    stroke-dashoffset: 188.52210998535156;
    animation: draw 1s linear forwards;
  }
  .smCirRight {
    stroke-dasharray: 188.52210998535156;
    stroke-dashoffset: 188.52210998535156;
    animation: draw 0.5s linear forwards;
  }
  .rhombus{
    stroke-dasharray: 213.86093139648438;
    stroke-dashoffset: 213.86093139648438;
    animation: draw 1.5s linear forwards;
  }

  .squiggle{
    stroke-dasharray: 101.64131927490234;
    stroke-dashoffset: 101.64131927490234;
    animation: draw 1.75s linear forwards;
  }


/*animation for the magic logo*/
.main1, .main2{
    stroke-dasharray: 22.822349548339844;
    stroke-dashoffset: 22.822349548339844;
    animation: draw 1s linear forwards;
  }
.sCirLeft {
    stroke-dasharray: 12.076722145080566;
    stroke-dashoffset: 12.076722145080566;
    animation: draw 0.7s linear forwards;
}
.sCirRight {
    stroke-dasharray: 12.076722145080566;
    stroke-dashoffset: 12.076722145080566;
    animation: draw 1s linear forwards;
}

.lCir {
    stroke-dasharray: 28.933956146240234;
    stroke-dashoffset: 28.933956146240234;
    animation: draw 0.5s linear forwards;
}
.top{
    stroke-dasharray: 4.849679946899414;
    stroke-dashoffset: 4.849679946899414;
    animation: draw 0.7s linear forwards;
}
.horizontal{
    stroke-dasharray: 7.24799919128418;
    stroke-dashoffset: 7.24799919128418;
    animation: draw 1.3s linear forwards;
}

.lHorizontal{
    stroke-dasharray: 7.24799919128418;
    stroke-dashoffset: 7.24799919128418;
    animation: draw 0.7s linear forwards;
}

  /*nations logo animation*/
  
  .triangle{
      stroke-dasharray:71.59383392333984;
      stroke-dashoffset: 71.59383392333984;
      animation: draw 0.9s linear forwards;
  }
  .circle {
    stroke-dasharray:1.789494514465332;
    stroke-dashoffset: 1.789494514465332;
    animation: draw 0.5s linear forwards;
  }
  .curve {
    stroke-dasharray: 4.2909016609191895;
    stroke-dashoffset: 4.2909016609191895;
    animation: draw 1.3s linear forwards;
  }
  .pointyCurve{
    stroke-dasharray: 3.012410879135132;
    stroke-dashoffset: 3.012410879135132;
    animation: draw 1s linear forwards;
  }
  
  /*houses logo animations*/
  .hRhombus {
    stroke-dasharray: 48.029422760009766;
    stroke-dashoffset: 48.029422760009766;
    animation: draw 1.2s linear forwards;
  }

  .hMidline{
    stroke-dasharray: 20.773834228515625;
    stroke-dashoffset: 20.773834228515625;
    animation: draw 1s linear forwards;
  }
  .hCircle{
    stroke-dasharray: 43.98847961425781;
    stroke-dashoffset: 43.98847961425781;
    animation: draw 1s linear forwards;
  }
  .hRectangle{
    stroke-dasharray: 68.5506591796875;
    stroke-dashoffset: 68.5506591796875;
    animation: draw 1.2s linear forwards;
  }
